body{
    
   
   height: 100vh;
   margin: 0;
   
   overflow: hidden;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   background-position: center;
   

  
}
.video-container {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100vw;      
    height: 100vh;     
    overflow: hidden;  
    z-index: -1;      
}


.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); 
    object-fit: cover; 
    z-index: -1; 
}



h1 {
    position: absolute;
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    padding: 20px;
    font-size: 3em;
    color: rgba(0,0,0,0.7);
    z-index: 1; /* Ensure it stays on top of the video */
    align-items: center;
}
#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align contents to the left */
    justify-content: center;
    font-size: 3em;
    border: 3px solid;
    border-radius: 10px;
    padding: 50px;
    z-index: 1;
    background-color: rgba(255, 235, 205, 0.5);
    margin-top: 120px; /* Creates space below the header to avoid overlapping */
    margin-left: 10px; /* Adds some left padding */
}


#startbtn{
    background-color: rgba(174, 39, 39, 0.607);
    border: 2px solid;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    padding: 10px;
    cursor: pointer;
    border-color: black;
    color: white;
    font-size: 20px;
}
#startbtn:hover{
    background-color: brown;
}
#startbtn:active{
    background-color: rgb(67, 14, 14);
}
#stopbtn{
    background-color: rgba(174, 39, 39, 0.607);
    border: 2px solid;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    padding: 10px;
    cursor: pointer;
   border-color: black;
    color: white;
    font-size: 20px;
}
#stopbtn:hover{
    background-color: brown;
}
#stopbtn:active{
    background-color: rgb(67, 14, 14);
}
#resetbtn{
    background-color: rgba(174, 39, 39, 0.607);
    border: 2px solid;
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-color: black;
    color: white;
}
#resetbtn:hover{
    background-color: brown;
}
#resetbtn:active{
    background-color: rgb(67, 14, 14);
}
